<div class="card mx-2 d-flex w100">
	<div class="card-header">filtros</div>
	<div class="card-body">
		<form>
		<div class="row">
			<div class="col-12">
			<div class="form-group">
				<label for="de">De</label>
				<input type="number" id="de" class="form-control">
			</div>
			</div>
		
			<div class="col-12">
			<div class="form-group">
				<label for="para">Até</label>
				<input type="number" id="para" class="form-control">
			</div> 
			</div>
			
		</div>
		<div class="row">
			<div class="col-12">
			<div class="form-group">
				<button type="button" class="btn btn-primary py-3 my-3" (click)="mostrar()">Filtrar</button>
			</div> 
			</div>
		</div>
		
		</form>
	</div>
</div>