<div class="card shadow-sm my-2">
  
  <img src='{{"assets/images/"+produto.id+".jpg"}}' alt="Minha Figura" class="bd-placeholder-img card-img-top" width="100%">
  <div class="card-body">
	<p class="card-text">{{produto.name}}</p>
	<p class="card-text">{{produto.price | currency: 'BRL'}}</p>
        <p class="card-text">{{produto.quantity}}</p>
	<p class="card-text">{{produto.category}}</p>
	<div class="btn-group">
		<button type="button" class="btn btn-primary">comprar</button>
		<button type="button" class="btn btn-primary" [routerLink]="['/details',produto.id]">detalhes</button>
		
	</div>
  </div>
</div>
